<div class="card">
    <div class="photo">
        <img src="https://worldwatch.news/images/pages/Explainer.jpg" alt="Notícia">
    </div>
    <div class="content">
        <div class="title">
            <h2>Eksplorosi design untuk melamar pekerjoan Ui Designer</h2>
        </div>

        <div class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi aspernatur ab non obcaecati odio quam modi assumenda quis autem soluta est placeat, pariatur voluptas error vel provident necessitatibus laborum ipsum!
        </div>
    </div>
</div>