h1 {
    text-transform: uppercase;
    font-size: 18vw;
    white-space: nowrap;
    user-select: none;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #444;
}