<div class="menu">
    <div class="menu__left">
        <div class="menu__profile">
            <h3>D</h3>
        </div>
        <nav class="menu__items">
            <a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a [routerLink]="['content']" [routerLinkActive]="['active']">Article</a>
        </nav>
    </div>

    <div class="menu__right">
        <div class="menu__right__desktop">
            <a href="https://linkedin.com/in/taylor-albarnaz">
                <fa-icon [icon]="faLinkedin" size="xl"></fa-icon>
            </a>
            <a href="https://github.com/TaylorNAlbarnaz">
                <fa-icon [icon]="faGithub" size="xl"></fa-icon>
            </a>
        </div>
        
        <div class="menu__right__mobile">
            <fa-icon [icon]="faBars" size="xl" (click)="burgerOpen = !burgerOpen;"></fa-icon>

            <nav *ngIf="burgerOpen" class="menu__right__burger">
                <a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
                <a [routerLink]="['content']" [routerLinkActive]="['active']">Article</a>
            </nav>
        </div>
    </div>
</div>