<div class="menu">
    <div class="menu__left">
        <div class="menu__profile">
            <h3>D</h3>
        </div>
        <nav class="menu__items">
            <a href="">Learn</a>
            <a href="">Blog</a>
            <a href="">Bookmarks</a>
            <a href="">Ui Kit</a>
            <a href="">Lain Nya</a>
        </nav>
    </div>

    <div class="menu__right">
        <fa-icon [icon]="faLinkedin" size="xl"></fa-icon>
        <fa-icon [icon]="faGithub" size="xl"></fa-icon>
    </div>

    <div class="menu__right__mobile" style="display: none;">

    </div>
</div>